{% extends "base.html" %}

{% block header %}
<div class="header">
  <h2>Edit post</h2>
</div>
{% endblock %}

{% block content %}

<form method="post">
  <label class="col-md-12 col-sm-12 col-xs-12" >
    <div>Subject</div>
    <input type="text" name="subject" value="{{post.subject}}">
  </label>

  <label class="col-md-12 col-sm-12 col-xs-12" >
    <div>Blog</div>
    <textarea name="content">{{post.content}}</textarea>
  </label>

  <div class="error">{{error}}</div>

  <div class="row">
          <br>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <button type="submit" class="btn btn-md btn-primary">
              <i class="fa fa-check"></i>&nbsp;Update
            </button>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <a href='/blog/{{post.key().id()}}' class="btn btn-md btn-danger">
              <i class="fa fa-times"></i>&nbsp;Cancel
            </a>
          </div>
  </div>
</form>

{% endblock %}
