{% extends "base.html" %}


{% block content %}
  	{{post.render() | safe}}
	<div class="row">
	  <div class="col-md-8">
	    <ul class="list-inline">
	    {% if logged_in %}
	    	<li><a href="/blog/like/{{post.key().id()}}" class="btn fa fa-heart-o"><span >&nbsp;{{post.likes_count}}</span></a></li>
	    	<li><a href="#comments_section" class="btn fa fa-comment-o"><span >&nbsp;{{post.comments_count}}</span></a></li>
	        <li><a href="/blog/edit/{{post.key().id()}}"><span class="fa fa-edit"></span>&nbsp;Edit</a></li>
	        <li><a href="/blog/delete/{{post.key().id()}}"><span class="fa fa-trash-o"></span>&nbsp;Delete</a></li>
	    {% else %}
			<li><a class="btn fa fa-heart-o"><span >&nbsp;{{post.likes_count}}</span></a></li>
			<li><a class="btn fa fa-comment-o"><span >&nbsp;{{post.comments_count}}</span></a></li>
	    {% endif %}
	    </ul>
	  </div>
	</div>
	<div class="error">{{error}}</div>

	<div class="row">
		<br>
		<div class="response" id="comments_section">Comments</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
		  <form method="post" action="/blog/comment/{{post.key().id()}}">
		    <textarea name="content" rows="5" cols="50" class="form-control"></textarea>
		    <br>
		    <button type="submit" class="btn btn-sm btn-primary">Publish</button>
		  </form>
		</div>
	</div>
	<hr/>

	<div class="row">
	{% if post.comments_count > 0 %}

		{% for comment in post.comments.order('-created') %}
<div class = "col-md-9 col-sm-9 col-xs-9">
    <div class="commenter">
      {{ comment.user.name }}
    </div>
    <div class="response pull-right">
    &nbsp;
      <a href="/blog/comment/edit/{{comment.key().id()}}" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-pencil"></i></a> |
      <form method="post" action="/blog/comment/delete/{{comment.key().id()}}" style="display: inline;">
        <button type="submit" class="btn btn-xs btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </form>
    </div>
    <pre>
      {{ comment.content }}
    </pre>
    {% if comment_delete_error %}
    	{% if this_comment.created == comment.created %}
    		<div class="error">{{comment_delete_error}}</div>
    	{% endif %}
    {% endif %}
    <hr/>
  </div>
{% endfor %}
{% endif %}
	</div>
{% endblock %}
